@import url(../root.css);

.bookContainer {
  /* display: flex;
  justify-content: space-between;
  padding: 2%;
  padding-left: 6%;
  padding-right: 6%; */
  /* width: 75rem; */
  display: grid;
  grid-template-columns: 45% 55%;
  align-items: center;
  height: 10.625rem;
  margin: 0.8rem 6.25rem 0;
  padding: 0rem 4rem 0rem 1.688rem;
  border-radius: 4px;
  border: solid 1px var(--white-three);
  background-color: var(--white-two);
  /* background: red; */

}

.divisorForm {
  width: 1px;
  height: 1.5rem;
  margin-right: 0.7rem;
  border: solid 1px var(--white-three);
}

.bookDetails {
  display: flex;
  flex-direction: column;
  /* text-align: start; */
  /* align-items: center; */
  /* background: blue; */
  padding: 0rem;
  /* background: red; */
  /* background: green; */
  /* background: green; */
}

.updateProgress {
  /* width: 11.5rem; */
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 0rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  border: transparent;
  background-color: var(--azure);
  cursor: pointer;
}

.updateProgress span {
  width: 8.938rem;
  height: 1.125rem;
  font-family: RobotoSlab;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white-two);
}

.book {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* background: red; */
}

.category {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.title {
  width: 12.313rem;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-family: RobotoSlab;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.author {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.bookOptions {
  display: flex;
  margin-top: 1rem;
  align-items: flex-end;
  gap: 1px;
  /* background: yellow; */
  height: 1.5rem;
  /* background: red; */
  /* justify-content: space-between; */
  /* background: yellow; */
}

.bookOptions button {
  /* width: 4.563rem; */
  height: 1.188rem;
  margin: 0.188rem 0.7rem 0.1rem 0;
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  border: transparent;
  background: transparent;
  /* align-self: center; */
  cursor: pointer;

}

.buttonDescription {
  height: 1.188rem;
  /* margin: 0rem 0rem 0rem 0rem; */
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.statusContainer {
  display: flex;
  /* grid-template-columns: 30% 10% 60%; */
  /* column-gap: 10px; */
  /* justify-content: space-around; */
  align-items: center;
  gap: 4rem;
  /* background: blue; */
  padding: 0.24rem;
  padding-left: 2rem;
  padding-right: 2rem;
  /* margin-right: 2rem; */
  /* background: pink; */
  /* background: red; */
}

.currentState {
  display: flex;
  justify-content: space-between;
}

.percentage {
  display: flex;
  flex-direction: column;
  /* background: yellow; */
  padding-left: 0;
}

.percentageNumber {
  /* width: 4.25rem; */
  height: 2.438rem;
  margin: 0.063rem 1rem 0 0.688rem;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.completedPercentageNumber {
  /* width: 5rem; */
  height: 1.125rem;
  margin: 0.438rem 0rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

/* .currentChapter {
  display: flex;
  flex-direction: column;
  background: white;
}
 */
.separator {
  margin-right: 3%;
  border-right: 1px black solid;
  padding-top: 5%;
  padding-bottom: 5%;
}

.progressContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  /* background: yellow; */
  /* background: red; */
  margin-left: 0;
  /* background: pink; */
}

.progressDivider {
  width: 0.125rem;
  height: 4.375rem;
  background-color: rgb(232, 232, 232);
  /* margin: 0px 1.688rem 0px 1.688rem; */
  /* margin: 1.125rem 3.688rem 0 4.938rem; */
  border: solid 1px var(--white-three);
}


.progress {
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border: 5px solid #307bbe;
  border-left-color: #e8e8e8;
  transform: rotate(45deg);
}

.chapter {
  /* width: 4.688rem; */
  /* height: 1.313rem; */
  /* margin: 0.438rem 6.813rem 0.25rem 3.688rem; */
  /* margin: 0rem 6.813rem 0rem 3.688rem; */
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  margin-top: 0;
  font-family: RobotoSlab;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--black-two);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* background: yellow; */
  align-items: flex-start;
  /* align-items: center; */
  /* text-align: left; */
}

.currentChapter {
  /* width: 7.875rem; */
  height: 1.125rem;
  /* margin: 0.063rem 3.625rem 0 3.688rem; */
  opacity: 0.5;
  font-family: RobotoSlab;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.currentLesson {
  /* width: 4.688rem; */
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 0rem;
  font-family: RobotoSlab;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--black-two);
}