@import url(../root.css);

.divisorForm {
  height: 0.125rem;
  margin: 2.313rem 6.25rem 0;
  border: solid 1px var(--white-three);
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.listBooksContainer {
  display: flex;
  flex-direction: column;
  padding-top: 1.6rem;
}
