@import url(./root.css);

body {
  padding: 6rem 3.75rem 7.688rem 6.25rem;
  background-color: var(--pale-grey);
}

#root {
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 60px 0;
  background-color: rgb(250, 250, 250);
  margin: 0;
  padding: 0 0 8%;
  border-radius: 4px;
}

.BookstoreCMS {
  width: 100rem;
  height: 89.625rem;
  padding: 9.313rem 3.75rem 7.688rem 6.25rem;
}
